

h2{
  text-align:center;
}

.col{
  float:left ;
  width: 40%;
  margin: 50px;
  padding: 0px;
  box-sizing:border-box;
}

.price-box{
  background: block;
  color:#555;
  list-style-type:none;
  border:1px solid #555;
  margin:0;
  padding:0;
  transition:0.3s;
}


.price-box .header{
  background-color:#111;
  color:#fff;
  font-size:25px;
}


.price-box li{
	color: white;
  padding:10px;
  border-bottom:1px solid #eee;
  text-align:center;
}
.price-box li strong{
	color: black;
  padding:10px;
  border-bottom:1px solid #eee;
  text-align: left;
}