 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
}

.wrapper{
  margin-top: 5%;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center; 
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px; 
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p{
  color: black;
  margin: 12px 0 ;
  font-size: 20px; 
}

.team .team_member .team_img{
  position: absolute;
  top: -55px;
  left: 5%; 
  width: 100px;
  height: 100px;
  border-radius: 50%; 
}

.team .team_member .team_img img{
  width: 300px;
  height: 100px;
  padding: 0px;
}
