.cbr250r {
	background: url(../../assets/images/cbr250r/landingBanner.jpg);
	height: 100%;
	min-height: 695px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
}
.micro-footer {
	margin-top: -59px;
	padding-top: 9px;
	
}
.microFooterHome {
	background: #000000;
}
.macro-nav{
	background: #b5b0ac none repeat scroll 0 0;
   
    padding-bottom: 10px;
}

.micro-about-sec .micro-title h6{
    color: #fff;
}

.tranbackground{background:none;}

.macro-nav ul li a{
    color: #fff;
    font-size: 15px;
    padding: 0px 13px;
    display: inline-block;
}

.micro-footer ul li a {
    color: #fff;
}


.breadcrumb>li>a{
    text-decoration: none;
    color: #000000;
}


.macro-nav ul li:last-child a img {
	margin-top: 10px;
	margin-bottom: 10px;
}
.macro-nav ul li::after {
    
    content: "|";
}
.timetolive{
    position: absolute;
    left: 40px;
    bottom: 220px;
}


.cbr250r-about{
	background: url(../../assets/images/cbr250r/innerBG.jpg);
	position: relative;
    float: left;
    padding-bottom: 70px;
    background-size: cover;
}

.cbr250r-about .macro-nav ul li a{
    color: #fff;
}

.cbr250r-about .macro-nav ul li a:hover{
    color: #f93b40;
}

.cbr250r-about .macro-nav ul li::after{
    color: #fff;
}

.cbr250r-about .accordion-section-title::after, .cbr250r-about .accordion-section-title::before{
    color: #fff;
}

.micro-about-sec .txt-box {
    margin-top: 80px;
    border-radius: 8px;
    padding: 20px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
}

.form-left-box{
    margin-top: 0px !important;
    background: transparent !important;
}

.form-left-box p{
    color: #fff !important;
    text-align: left !important;
}

.micro-about-sec .txt-box p {
	color: #000;
	line-height: 23px;
	margin-bottom: 15px;
	font-size: 14px;
	text-align: left;
	font-weight: 300;
	/* margin-bottom: 35px !important; */
}

.micro-about-sec .txt-box p:last-child{
	margin: 0px;
}

.body-color-grab, .handle-bar-weights, .stylish-meter-console, .d3, .viscous-air-filter, .superior-performance, .Racing-Muffler, .PGM-FI, .Comfortable-Siting, .Liquid-Cooled, .C-ABS{
	position: relative;
}

.unicorn-feature{
    overflow: hidden;
	border: 1px solid transparent;
	display: block;
	max-width: 600px;
	margin: 0px auto;
	padding-bottom: 15px;
	float: none;
	background: #caac6c none repeat scroll 0 0;
}

.unicorn-feature-thumb ul{
    margin-top:0px;
	padding: 0px;
	display: block;
}

.unicorn-feature-thumb ul li {
	background: #898989;
	color: #fff;
	cursor: pointer;
	padding: 2px;
	font-size: 14px;
	font-weight: 300;
	list-style: outside none none;
	margin: 0px 5px 10px 5px;
	overflow: hidden;
	text-align: center;
	width: 80px;
	display: inline-block;
	border-radius: 4px;
}
.tabcontentWrap{
    background: #ff0000;
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.livo-feature-txt {
	float: left;
	background: #000000ad;
	border-radius: 70px 0px 70px 0px;
	padding: 60px 10px;
	min-height: 252px;
}

.livo-feature-txt h3 {
	margin: 0 0 3px;
	padding: 3px 0px;
	color: #fff;
	width: 100%;
	font-size: 21px;
	font-weight: 500;
}
.livo-feature-txt p{
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

.unicorn-feature-thumb ul li img{
	max-width: 100%;
}


.unicorn-feature-thumb ul li.feature-active {
	background: #ff0000;
	transition: .5s;
}

.inner{
    float: left;
    max-width: 420px;
    height: auto;
    margin-top: 0px;
    background: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.inner h3{
    margin-top: 0px;
}

.image-bg{
    padding: 0px 15px;
    background: transparent;
}

.inner img{
    border-radius: 20px;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 10px #000;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.unicorn-feature-hover {
	
}
.aaa .col-md-6 {
	padding-left: 2px;
	padding-right: 2px;
}
.unicorn-feature-hover img {
	max-width: 100%;
	border-radius: 0px 70px 0px 70px;
}

.feature-note{
	text-align: center;
	font-size: 14px;
	color: #000;
	margin-top: 50px;
}


.features {
    background: rgba(0, 0, 0, 0.60);
    margin: 0px auto;
    max-width: 100%;
}

.specifications-note{
	font-size: 14px;
	color: #000;
	margin-top: 20px;
}


.angle-view-sec{
	background: transparent;
}




.micro-about-sec .right-box img{
    margin-top: 80px;
}


.cbr250r-feature-hoverr{
	padding: 15px 15px;
}



.cbr250r-feature-hover h3{
    color: #fff;
    margin: 15px 0px 15px 0px;
    font-size: 18px;
    line-height: 22px;
}

.cbr250r-feature-hover p{
    color: #fff;
    margin: 0 0 5px;
    font-size: 13px;
    /*line-height: 22px;*/
}


.specifications-box {
	display: inline-block;
	padding: 0;
	border-color: transparent;
	position: relative;
	background: transparent;
	text-align: center;
}

.specifications-hover h2 {
    background: none repeat scroll 0 0 #cc0001;
    color: #fff;
    display: block !important;
    font-weight: bold;
    margin: 0;
    padding: 4px 14px 6px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
}

.specifications-hover ul.tab_content {
    padding: 0px;
}

.specifications-hover ul.tab_content li {
    
    border-top: 1px solid #fff;
    width: 100%;
    float: left;
    display: table;
}

	.specifications-hover ul.tab_content li:nth-child(even) {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	}

.specifications-hover ul.tab_content li:nth-child(odd){
	   
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}

.specifications-hover ul.tab_content li:nth-child(1){
	background: none repeat scroll 0 0 rgb(204, 0, 1);
	text-align: center;
	font-size: 16px;
}

.accessories-box .accessories-txt ul li{
    float: none;
}

.specifications-hover ul.tab_content li span {
    color: #fff;
    display: table-cell;
    padding: 8px 15px;
    vertical-align: top;
    width: 47%;
}

.specifications-hover ul.tab_content li span:first-child{
    border-right: 1px solid #f2f2f2;
    padding-left: 15px;
    font-weight: 300;
}

.specifications-box ul.specifications{
    padding: 0px;
    display: inline-block;
    border-color: transparent;
}

.specifications-box ul.specifications li {
	/* float: left; */
	background: transparent;
	/* width: 100%; */
	padding: 0px 0;
	display: inline-block;
}
	.specifications-box ul.specifications li a {
		background: rgba(0, 0, 0, 0.7);
		/* border-bottom: 1px solid rgba(255, 255, 255, 0.28); */
		font-size: 13px;
		line-height: 22px;
		margin: 0px 5px;
		display: block;
		padding: 8px 10px;
		color: #fff;
		text-align: center;
		width: 150px;
	}
.colors .nav-tabs>li>a img{
    height: 65px;
    width: 89px;
}

.gallery .controls .nav>li img{
    background: rgba(255,255,255,0.90);
    border-color: transparent;
}

.gallery .controls{
    width: 105px;
}

.specifications-hover {
	position: relative;
	float: left;
	overflow: hidden;
	max-width: 584px;
	margin-top: 15px;
}


.colors .nav-tabs > li span {
	line-height: 31px;
	height: 65px;
	right: 88px;
	width: 235px;
	padding-right: 0;
	font-size: 11px;
}

.body-dimensions, .engine, .transmission, .tyres-brakes, .frame-suspension, .electricals {
	float: left;
	width: 550px;
	position: absolute;
	top: 0px;
	height: 370px;
	margin-top: 0px;
}

.specifications-active{
    z-index: 99999;
    position: relative;
}

.angle-view, .price, .emi-calculator, .e-brochure, .dealer-locator{
    background-position: bottom;
}

.text1{
        text-align:left;
    font-weight:300;
    }



.specifications-box ul li a.specifications-active{
    background: #cc0001;
}

.specificationsLiO{
    background:none;
}

.micro-inquary{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
}

.accessories-popup-sec{
    position: relative;
    margin: 50px 0px;
}

.accessories-popup{
    position: absolute;
    top: 6px;
    width: 100%;
}

.accessories-popup-left{
    float: left;
    width: 50%;
    position: relative;
}

.accessories-popup-right{
    float: left;
    width: 50%;
    position: relative;
    text-align: right;
}

ul.tabbing-links{
    list-style: none;
}

ul.tabbing-links li{
    display: block;
}

ul.tabbing-links li a{
    display: inline-block;
    background: #fff;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 10px;
    font-weight: 500;
    position: absolute;
    transform: scale(1) skew(20deg);
}

ul.tabbing-links li a.lights {
    right: 44px;
    top: -24px;
    transform: scale(1) skew(-20deg);
}

ul.tabbing-links li a.kit-num {
    top: 33px;
    right: 44px;
    transform: scale(1) skew(-20deg);
}

ul.tabbing-links li a.lock-kit{
    top: 110px;
    right: 44px;
    transform: scale(1) skew(-20deg);
}

ul.tabbing-links li a.front-guard{
    top: 166px;
    right: 44px;
    transform: scale(1) skew(-20deg);
}

ul.tabbing-links li a.body-cover{
    top: 256px;
    right: 44px;
    transform: scale(1) skew(-20deg);
}

ul.tabbing-links li a.gripCover{
    
    top: 316px;
    right: 43px;
    transform: scale(1) skew(-20deg);
}

a.power-engine{
    left: 42px;
    top: -24px;
}

a.seat-cover{
    left: 42px;
    top: 36px;
}

a.disc-brake{
    left: 42px;
    top: 96px;
}

a.wheelbase{
    left: 42px;
    top: 155px;
}

a.suspension{
    left: 42px;
    top: 267px;
}

ul.tabbing-links li a:hover{
    background: #000;
    color: #fff;
}

.accessories-tab {
    padding: 0px 15px;
    margin: 0px auto;
    max-width: 870px;
    top: 40px;
    position: relative;
}

    .accessories-tab .accessories-box {
        padding: 0px 0px;
        max-width: 100%;
        margin: 0px auto;
        margin-top: 15px;
    }
.accessories-tab ul.nav li {
    height: 45px;
    float: left;
    width: 20%;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}

.price p{
    font-weight: 400;
    line-height: 20px;
}

.accessories-tab ul.nav li a {
    height: 42px;
}

.accessories-popup-box{
    background: rgba(0,0,0,0.50);
    width:500px;
    position:absolute;
    top:0; 
    left:calc(50% - 200px);
    padding: 15px 20px;
}

.accessories-popup-box img{
    max-width: 260px;
    margin: 15px auto;
    display: block;
}

.accessories-popup-box h3{
    color: #fff;
}

.accessories-popup-box ul{
    padding-left: 18px;
    text-align: left;
}

.accessories-popup-box ul li{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.cxx{
    font-size: 20px;
    float: right;
    color: #fff;
    background: #000;
    width: 24px;
    height: 23px;
    padding: 6px;
    cursor: pointer;
}

.accordion, .accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    overflow: hidden;
    display: block;
}

.macro-nav{
    padding: 0px;
    background: transparent;
}


.cbr250r-about .macro-nav{
    padding: 0px;
    background: transparent;
}

.accordion-section-title {
    width: 100%;
    padding: 0px 15px;
    display: none;
    text-align: left;
    transition: all linear 0.15s;
    line-height: 42px;
    position:relative;
}

.micro-footer .accordion-section-title{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#323a3e+0,575959+100 */
background: rgb(50,58,62); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(50,58,62) 0%, rgb(87,89,89) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(50,58,62) 0%,rgb(87,89,89) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(50,58,62) 0%,rgb(87,89,89) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323a3e', endColorstr='#575959',GradientType=0 ); /* IE6-9 */

    color: #fff;
    font-size: 20px;
}


.accordion-section-title.active, .accordion-section-title:hover, .accordion-section-title:active, .accordion-section-title:focus {
    text-decoration: none;
}

.accordion-section-content {
    padding: 0px;
    display: block;
}

    .accordion-section-title::after {
    content: "+";
    float: right;
    display: block;
    color: #fff;
    font-size: 36px;
    font-weight: 300;
}

     .accordion-section-title::before {
   content: "-";
    float:right;
    display:none;
        color: #fff;
    font-size: 66px;
    font-weight: 300;
    }

.accordion-section-title.active::before {
    display:block;
}

.accordion-section-title.active::after {
    display:none;
}

.accordion-section-title .micronav-minus, .accordion-section-title .micronav-plus {
    float: right;
    font-size: 35px;
    position: relative;
}

    .micro-footer ul li a{
    text-align:left !important;
    }

.macro-nav ul li::after {
color:#fff;
}

.cbr250r-mob-logo {
	background: url(../../assets/images/cbr250r/logo.png) no-repeat;
	background-position: 10px 17px;
	background-size: 160px;
}

.new-360{
    width: 100%;
    max-width: 805px;
    display: block;
    margin: 0px auto;
    position: relative;
}

.new-360 img{
    max-width: 100%;
}

#producttt img{
    max-width: 100%;
}

.for-image{
    margin-top: 0px;
}

.unicorn-feature-hover {
	
}

.for-mobile-div{
    display: none;
}


.for-desktop-div{
    display: block;
}

.micro-about-sec .price {
	display: block;
	background: #00000094 !important;
}


/*.withStrip{    
    width: 262px;
    height: 53px;
    background: url(../../assets/images/CBHornet160R/icon21.png);
    float: left;
    background-repeat: no-repeat;
    position: relative;
    z-index: 99999;
    padding-top: 21px;
    padding-left: 60px;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
}

.withOutStrip{    
    width: 257px;
    height: 53px;
    background: url(../../assets/images/CBHornet160R/icon11.png);
    float: left;
    background-repeat: no-repeat;
    position: relative;
    z-index: 99999;
    padding-top: 21px;
    padding-left: 60px;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
}

.CBHornet160R{
	background: url(../../assets/images/CBHornet160R/home-bg.jpg);
	height: 100%;
    min-height: 698px;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    background-size: 100%;
}

.withStrip{    
    width: 262px;
    height: 53px;
    background: url(../../assets/images/cbr250r/RepIcon.png);
    float: left;
    background-repeat: no-repeat;
    position: relative;
    z-index: 99999;
    padding-top: 21px;
    padding-left: 60px;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
    top: 3px;
}

.withOutStrip{    
    width: 257px;
    height: 53px;
    background: url(../../assets/images/cbr250r/RepIcon.png);
    float: left;
    background-repeat: no-repeat;
    position: relative;
    z-index: 99999;
    padding-top: 21px;
    padding-left: 60px;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
    top: 3px;
}*/

.mobile-micro-banner img {
    margin-top: -103px;
}

.macro-nav {
	background: #00000069;
	position: relative;
}


.gallery-button {
    left: 15px;
    position: relative;
}

.comminicationImage{
	margin-top: 80px;
	max-width: 100%;
}

@media only screen and (min-width: 240px) and (max-width: 480px){

	.macro-nav ul li:last-child a img {
		display: none;
	}
	.comminicationImage{
		margin-top: 15px;
		margin-bottom: 20px;
	}
.withStrip, .withOutStrip{
    position: relative;
    float: right;
    width: 120px !important;
    background-size: contain;
    right: 5px;
    top:5px;
        left: initial !important;
}

.mobile-micro-banner img {
    margin-top: 0px;
}
.cbr250r{
    background: none;
    min-height: 100%;
}

.macro-nav ul li:nth-child(7){
    display: none;
}

	.macro-nav {
		padding: 0px 0px;
		display: block;
		background: #000000;
	}

.micro-footer {
	position: relative;
	background: #696969;
	padding: 0px 0px;
	left: 0;
	margin-top: -42px;
}
.angle-view, .price, .emi-calculator, .e-brochure, .dealer-locator{
    display: none;
}

.macro-nav ul li a {
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
}

.macro-nav ul li:after{
    color: #000;
}

.micro-footer ul {
    text-align: center;
    margin-bottom: 0px;
}

.micro-footer ul li a {
    padding: 7px 15px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

.micro-about-sec .txt-box{
    border-radius: 0px;
    width: 100%;
    height: auto;
    padding: 15px 15px;
    margin: 0px 0px 20px 0px;
}


.cbr250r-about .macro-nav ul li a {
    color: #fff;
}


.cbr250r-about .macro-nav ul li::after {
    color: #000;
}

/*.cbr250r-about{
    padding-bottom: 0px;
}*/

.txt-box h2 {
    text-align: left;
    font-size: 26px;
}

.unicorn-feature-thumb{
    display: none;
}

.unicorn-feature{
    border-color: transparent;
}

.body-color-grab, .handle-bar-weights, .stylish-meter-console, .d3, .viscous-air-filter, .superior-performance, .gear-shift, .mono-suspension, .alloy-wheels, .premium-front, .Racing-Muffler, .PGM-FI, .Comfortable-Siting, .Liquid-Cooled, .C-ABS {
    position: relative;
    display: block !important;
    border-bottom: 1px solid #fff;
    margin-bottom: 6px;
    padding-bottom: 6px;
}

.unicorn-feature-hover h3{
    text-align: left;
    margin-top: 10px;
}

.livo-feature-txt{
    margin-top: 0;
    display: inline-block;
    width: 100%;
}

	.unicorn-feature-hover {
		float: none;
		display: block;
		padding: 0px 15px;
		max-width: 302px;
		margin: 0px auto;
	}
		.unicorn-feature-hover img {
			margin: 0px;
			width: 100%;
			float: none;
			display: block;
			border-radius: 0px;
		}
.for-image{
    display: none;
}


	.body-dimensions, .engine, .transmission, .tyres-brakes, .frame-suspension, .electricals {
		margin: 0px 0px 20px 0px !important;
		position: relative;
		height: auto;
		width: 100%;
	}

.specifications-box{
    display: none;
}

.gallery .controls{
    width: 100%;
}

.accessories-images-hide{
    display: none;
}

.accessories-popup{
    position: relative;
}

.accessories-popup-left, .accessories-popup-right{
    display: none;
}

.accessories-popup-box{
    display: block !important;
    position: relative;
    margin-bottom: 15px;
    left: 0px;
    width: 100%;
}

.cxx{
    display: none;
}


.rotatebox .images {
    min-height: 200px;
    position: relative;
}


.rotatebox .images img{
    max-width: 100%;
    max-height: 210px;
}
	.livo-feature-txt {
		margin-top: 0;
		/* max-width: 100%; */
		padding: 0px 15px;
		border-radius: 0px;
		min-height: 100%;
	}
.fff{
    height: auto;
    padding-bottom: 20px;
}

.carousel-inner>.item{
    display: block;
}

.control-box {
    display: none;
}

.aviator-bg .content{
    display: block !important;
    height: auto;
    margin-bottom: 10px;
}
.aviator-bg .specifications-box h4{
    display: none;
}
.aviator-bg .specifications-box ul h4{
    display: block;
}
.micro-padding-bottom{
    padding-bottom: 0px;
}

.accessories-popup-box h3 {
    font-size: 18px;
}

 .accordion-section-title {
        display: inline-block;
    }

    .accordion-section-content {
        display: none;
        background: #2f2f2f;
    }

    .macro-nav ul li {
        display: block;
        position: relative;
        text-align: left;
    }

        .macro-nav ul li a {
            font-size: 14px;
            padding: 10px 15px;
        }

    .micro-sec .macro-nav ul li::after {
        content: "";
    }
    .micro-footer ul li {
display:block;
}
.breadcrumb{
    display: none;
}
.micro-about-sec .micro-title h6{
    font-size: 16px;
    color: #fff;
}
.cbr250r-logo-bg{
    background-size: contain;
}

.colors .nav-tabs>li span{
    line-height: 17px;
    height: 65px;
    right: 0;
    top: 64px;
    height: 52px;
    width:66px;
    line-height: 12px !important;
}

.image-bg {
    padding: 0px 15px;
    background: transparent;
    margin: 0px auto;
    display: block;
    float: none;
}

.inner img{
    max-width: 100%;
}

.cbr250r-about .macro-nav {
    padding: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#323a3e+0,575959+100 */
background: rgb(50,58,62); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(50,58,62) 0%, rgb(87,89,89) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(50,58,62) 0%,rgb(87,89,89) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(50,58,62) 0%,rgb(87,89,89) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323a3e', endColorstr='#575959',GradientType=0 ); /* IE6-9 */

}

.accessories-box .accessories-txt h2 {
    font-size: 13px;
    padding: 5px 5px;
}

.accessories-box .accessories-txt ul li {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 3px;
    float: left;
    position: relative;
}

.for-mobile-div{
    display: block;
}


.for-desktop-div{
    display: none;
}

.cbr250r-about{
    padding-bottom: 50px;
}

.magnify img {
    margin: 30px 0px 00px 0px;
}


}

@media only screen and (min-width: 481px) and (max-width: 767px){

	.macro-nav ul li:last-child a img {
		display: none;
	}

    .withStrip, .withOutStrip{
    position: relative;
    float: right;
    width: 135px !important;
    background-size: contain;
    right: 5px;
    top:5px;
        left: initial !important;
}
     .mobile-micro-banner img {
    margin-top: -53px;
}
.cbr250r{
    background: none;
    min-height: 100%;
}

.macro-nav ul li:nth-child(7){
    display: none;
}

.macro-nav{
    background: #696969;
}
.cbr250r-about .macro-nav {
    padding: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#323a3e+0,575959+100 */
background: rgb(50,58,62); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(50,58,62) 0%, rgb(87,89,89) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(50,58,62) 0%,rgb(87,89,89) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(50,58,62) 0%,rgb(87,89,89) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323a3e', endColorstr='#575959',GradientType=0 ); /* IE6-9 */

}

	.micro-footer {
		position: relative;
		background: #696969;
		padding: 0px 0px;
		left: 0;
		margin-top: -42px;
	}

	.comminicationImage{
		margin-bottom: 15px;
		margin-top: 15px;
	}

.angle-view, .price, .emi-calculator, .e-brochure, .dealer-locator{
    display: none;
}

.macro-nav ul li a {
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
}

.macro-nav ul li:after{
    color: #000;
}

.micro-footer ul {
    margin-bottom: 0px;
}

.micro-footer ul li a {
    padding: 8px 15px;
    text-align: center;
    color: #fff;
}

.macro-nav ul li:after{
    color: #000;
}

.micro-about-sec .txt-box{
    margin: 0px 0px 20px 0px;
}

.cbr250rabout .macro-nav ul li a {
    color: #000;
}


.cbr250r-about .macro-nav ul li::after {
    color: #000;
}



.micro-about-sec .micro-title h6{
    color: #fff;
}

.unicorn-feature-thumb{
    display: none;
}

.unicorn-feature{
    border-color: transparent;
}

.body-color-grab, .handle-bar-weights, .stylish-meter-console, .d3, .viscous-air-filter, .superior-performance, .gear-shift, .mono-suspension, .alloy-wheels, .premium-front, .Racing-Muffler, .PGM-FI, .Comfortable-Siting, .Liquid-Cooled, .C-ABS{
    position: relative;
    display: block !important;
    border-bottom: 1px solid transparent;
}

.unicorn-feature-hover h3{
    text-align: center;
    margin-top: 10px;
}

	.unicorn-feature-hover {
		float: none;
		display: block;
		padding: 0px 15px;
		max-width: 302px;
		margin: 0px auto;
	}
.livo-feature-txt {
    margin-top: 0;
    display: inline-block;
    width: 100%;
}

	.unicorn-feature-hover img.unicorn-feature-hover img {
		margin: 0px;
		width: 100%;
		float: none;
		display: block;
		border-radius: 0px;
	}


.body-dimensions, .engine, .transmission, .tyres-brakes, .frame-suspension, .electricals{
    margin: 0px 0px 20px 0px !important;
    position: relative;
    height: auto;
}

.specifications-box{
    display: none;
}

.gallery .controls{
    width: 100%;
}

.accessories-images-hide{
    display: none;
}

.accessories-popup{
    position: relative;
}

.accessories-popup-left, .accessories-popup-right{
    display: none;
}

.accessories-popup-box{
    display: block !important;
    position: relative;
    margin-bottom: 15px;
    left: 0px;
    width: 100%;
}

.cxx{
    display: none;
}


.rotatebox .images {
    height: 320px;
    position: relative;
}

.rotatebox .images img{
    max-width: 100%;
}
	.livo-feature-txt {
		margin-top: 0;
		/* max-width: 100%; */
		padding: 0px 15px;
		border-radius: 0px;
		min-height: 100%;
	}
	.unicorn-feature-hover img {
		width: 100%;
		border-radius: 0px;
	}
.fff{
    height: auto;
    padding-bottom: 20px;
}

.carousel-inner>.item{
    display: block;
}

.control-box {
    display: none;
}

.aviator-bg .content{
    display: block !important;
    height: auto;
    margin-bottom: 10px;
}
.aviator-bg .specifications-box h4{
    display: none;
}
.aviator-bg .specifications-box ul h4{
    display: block;
}

.micro-padding-bottom{
    padding-bottom: 0px;
}
 .accordion-section-title {
        display: inline-block;
    }

    .accordion-section-content {
        display: none;
        background: #2f2f2f;
    }

    .macro-nav ul li {
        display: block;
        position: relative;
        text-align: left;
    }

        .macro-nav ul li a {
            font-size: 14px;
            padding: 10px 15px;
        }

    .micro-sec .macro-nav ul li::after {
        content: "";
    }
    .micro-footer ul li {
display:block;
}
.breadcrumb{
    display: none;
}
.micro-about-sec .micro-title h6{
    font-size: 16px;
}
.cbr250r-logo-bg{
    background-size: contain;
}

.colors .nav-tabs>li span{
    line-height: 17px;
    height: 75px;
    right: 0;
    top: 64px;
    width: 66px;
}

.image-bg {
    padding: 0px 15px;
    background: transparent;
    margin: 0px auto;
    display: block;
    float: none;
}

.accessories-box .accessories-txt h2 {
    font-size: 13px;
    padding: 5px 5px;
}

.accessories-box .accessories-txt ul li {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 3px;
    float: left;
    position: relative;
}
.for-mobile-div{
    display: block;
}


.for-desktop-div{
    display: none;
}

}


@media only screen and (min-width: 768px) and (max-width: 1024px){
.macro-nav ul li a {
    padding: 0 3px;
}

.macro-nav ul li a img{
    max-width: 230px;
    margin-top: 7px;
}

.cbr250r{
    min-height: 450px;
    background-size: 100% 100%;
}

.cbr250r-about{
    padding-bottom: 70px;
}

.unicorn-feature-thumb{
    display: none;
}

.unicorn-feature{
    border-color: transparent;
}

.body-color-grab, .handle-bar-weights, .stylish-meter-console, .d3, .viscous-air-filter, .superior-performance, .gear-shift, .mono-suspension, .alloy-wheels, .premium-front, .Racing-Muffler, .PGM-FI, .Comfortable-Siting, .Liquid-Cooled, .C-ABS {
    position: relative;
    display: block !important;
    border-bottom: 1px solid transparent;
    margin-bottom: 15px;    
}

.unicorn-feature-hover h3{
    text-align: left;
    margin-top: 10px;
}

.unicorn-feature-hover{
    display: inline-block; 
}

.livo-feature-txt {
    background: transparent;
    padding: 3px 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: .8;
    text-align: center;
    max-width: 100%;
    display: block;
    width: 100%;
}

.livo-feature-txt p{
    color: #000;
}

.unicorn-feature-hover img {
    margin: 0px auto;
    max-width: 230px;
    float: none;
    width: 50%;
    display: block;
}

.for-image{
    display: none;
}

.specifications-box{
    display: none;
}

.specifications-hover{
    margin-bottom: 40px;
}

.body-dimensions, .engine, .transmission, .tyres-brakes, .frame-suspension, .electricals{
    margin: 0px 0px 20px 0px !important;
    position: relative;
    height: auto;
}

.specifications-box ul.specifications li a{
    font-size: 12px;
}

.accessories-images-hide{
    display: none;
}

.accessories-popup{
    position: relative;
}

.accessories-popup-left, .accessories-popup-right{
    display: none;
}

.accessories-popup-box{
    display: inline-block !important;
    position: relative;
    margin-bottom: 15px;
    left: 0px;
    width: 100%;
}

.accessories-popup-box img {
    max-width: 260px;
    margin: 0px 30px 0px 0px;
    float: left;
}

.cxx{
    display: none;
}


.aviator-bg .content{
    display: block !important;
    height: auto;
    margin-bottom: 10px;
}
.aviator-bg .specifications-box h4{
    display: none;
}
.aviator-bg .specifications-box ul h4{
    display: block;
}



}