body{
      
	margin: 0px;
	padding: 0;
	background: skyblue;
	font-family: sans-serif;
}

.container{
	 width: 1280px;
	 margin: 0px auto 0;
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap; 
}
.container .box{
	position: relative;
	 width: 300px;
	 min-height: 10px;
	 background: red;      
	 margin: 8px;
	 box-sizing: border-box;
	 display: inline-block;
}
.container .box .imgBox{
	position: relative;
	overflow: hidden;
}
.container .box .imgBox img{
    min-width: 100%;
	transition: transform 1s;
}
.container .box:hover .imgBox img{
	transform: scale(1.2);
}
.container .box .details{
    position: absolute;
	top: 4px;
	left: 4px;
	bottom: 4px;
	right: 4px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition:transform .5s;
}
.container .box:hover .details{
	transform: scaleY(1);
}
.container .box .details .content{
    position:absolute;
	top: -15%;
	transform: translateY(-50);
	text-align: center;
	padding: 15px;
	color: #fff;
}
.container .box .details .content h3{
	color: #ff0;
}
.container .box .details .content p{
	margin: 10px 0 0;
	padding: 0;
}